// Mixins Here
.btn-color(@color, @background) {
    color: @color;
    background: @background;
}

.btn-style (@border-r) {

    @media @mobile {
        width: 100%;
    }

    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 98px;
    border: 1px solid;
    border-radius: @border-r;
    text-align: center;
}

.btn-hover {
    color: yellow;
    background: black;
}